body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #d0021b;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  font-weight: bold;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-around;
}

.popular-item{
  text-align: center;
  margin: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.loading {
  text-align: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 7px 0;
  width: 200px;
  margin: 10px auto;
}